<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
<div class="card" style="width: 800px;">
    <div class="card-body">
        <form method="POST">
            <div class="row">
                <div class="col">
                    {{ form.money }}
                </div>
                <div class="col">
                    {{ form.frequency }}
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
            {{ form.errors }}
        </form>
        <br>
        <a class="btn btn-primary" href="{% url 'scraper' %}" role="button">Volver</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Moneda</th>
                <th scope="col">Último valor leído</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for scraper in scrapers %}
                <tr>
                    <td>{{ scraper.id }}</td>
                    <td>{{ scraper.get_money_display }}</td>
                    <td>{{ scraper.last_value }}</td>
                    <td>{{ scraper.frequency }}</td>
                    <td>{{ scraper.created }}</td>
                    <td><a class="btn btn-danger" href="?delete={{ scraper.id }}" role="button">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
